<div
  id="login-b"
  class="w-screen h-screen flex justify-content-center align-items-center flex-wrap"
>
  <div class="w-auto h-27rem p-5 border-round-md">
    <p-toast position="bottom-center"></p-toast>
    <div class="card mb-3 flex justify-content-center">
      <div class="flex flex-column gap-2">
        <h1 class="m-0">
          <b [ngStyle]="{ color: 'var(--primary-color)' }">ALHZ</b>
          reporting center
        </h1>
        <p-divider align="center">
          <span class="p-tag">CLIENT</span>
        </p-divider>
      </div>
    </div>

    <div class="card mb-3 flex justify-content-center">
      <div class="flex flex-column gap-2">
        <label htmlFor="username">Username</label>
        <input
          class="input-email"
          pInputText
          id="username"
          [(ngModel)]="login.email"
        />
      </div>
    </div>

    <div class="card mb-3 flex justify-content-center">
      <div class="flex flex-column gap-2">
        <label htmlFor="password">Password</label>
        <p-password
          id="password"
          [feedback]="false"
          [(ngModel)]="login.password"
          [toggleMask]="true"
        ></p-password>
      </div>
    </div>

    <div class="card mb-3 flex justify-content-center">
      <div
        class="flex flex-column justify-content-center align-items-center gap-2"
      >
        <p-button
          label="Login"
          pRipple
          [loading]="loading"
          (click)="loginUser()"
        ></p-button>
        <small>Forgot my password</small>
      </div>
    </div>
  </div>
</div>
