::ng-deep .p-panelmenu .p-panelmenu-header > a {
  padding: 1rem;
}

::ng-deep {
  #c-index {
    p-card {
      .p-card {
        height: calc(100% - 16px);
      }
    }
  }
}

#parent-index {
  background-color: #e9e9e9;
}
